coverage/**
cypress-elements/**/*.js
cypress/extensions
dist/**
dts/**
exchange_components/**
jet_components/**
mochawesome-report
scripts/**
standard-version/**
web/**
web-elements/**
test
**/*-i18n.ts
**/supportedLocales.ts
cypress/**
src-tauri/target/**
src-tauri/binaries/**
